.about-container {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: white;
  padding-left: 20vw;
  padding-right: 20vw;
}

.answer {
  color: #212d40;
}
:root {
  --secondary-color: #d93ba22e;
}

.question-1 {
  transform: translateY(-600px);
  animation: 1.2s slideIn ease-in-out forwards 1s;
  opacity: 0;
  position: relative;
  color: #11151c;
  font-size: 26px;
  font-weight: bolder;
}

.question-1::before {
  content: "";
  width: 0%;
  height: 7px;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: -10px;
  animation: 1s underline ease-in-out both 3s;
  mix-blend-mode: screen;
}
.question-2 {
  transform: translateY(-600px);
  animation: 1.2s slideIn ease-in-out forwards 5s;
  opacity: 0;
  position: relative;
  color: #11151c;
  font-size: 26px;
  font-weight: bolder;
}

.question-2::before {
  content: "";
  width: 0%;
  height: 7px;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: -10px;
  animation: 1s underline ease-in-out both 7s;
  mix-blend-mode: screen;
}
.question-3 {
  transform: translateY(-600px);
  animation: 1.2s slideIn ease-in-out forwards 10s;
  opacity: 0;
  position: relative;
  color: #11151c;
  font-size: 26px;
  font-weight: bolder;
}

.question-3::before {
  content: "";
  width: 0%;
  height: 7px;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: -10px;
  animation: 1s underline ease-in-out both 12s;
  mix-blend-mode: screen;
}
.question-4 {
  transform: translateY(-600px);
  animation: 1.2s slideIn ease-in-out forwards 15s;
  opacity: 0;
  position: relative;
  color: #11151c;
  font-size: 26px;
  font-weight: bolder;
}

.question-4::before {
  content: "";
  width: 0%;
  height: 7px;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: -10px;
  animation: 1s underline ease-in-out both 17s;
  mix-blend-mode: screen;
}

@keyframes underline {
  100% {
    width: 100%;
  }
}

@keyframes slideIn {
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
