.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: white;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20vh;
  margin-top: 10%;
  padding: 2% 8%;
  height: 50vh;
  width: auto;
  justify-content: space-evenly;
  background-color: #11151c;
}

.email-info {
  font-size: 26px;
  color: white;
}

.email-info:hover {
  color: #f72585;
}

.float-label-1 label,
.float-label-2 label,
.float-label-3 label {
  font-family: "Arima Madurai", cursive;
  font-size: 14px;
  padding: 0 12px;
  pointer-events: none;
  position: absolute;
  transform: translate(0, 14px) scale(1);
  transition: all 0.2s ease-out;
}

.float-label-1 input,
.float-label-2 input {
  font-family: "Arima Madurai", cursive;
  background-color: #364156;
  outline: 0;
  font-size: 14px;
  width: 40vw;
  padding: 10px;
  color: white;
  border: none;
}

.float-label-3 input {
  font-family: "Arima Madurai", cursive;
  background-color: #364156;
  outline: 0;
  font-size: 14px;
  width: 40vw;
  padding: 10px 10px 100px 10px;
  color: white;
  border: none;
}

.float-label-1 .Active,
.float-label-2 .Active,
.float-label-3 .Active {
  transform: translate(10%, -2.1vh);
  color: rgba(255, 255, 255, 0.61);
  font-size: 12px;
}

.submit-button {
  font-family: "Bebas Neue", cursive;
  background-color: white;
  border: none;
  outline: none;
  height: 5vh;
  width: 30vw;
  font-size: 18px;
}
.submit-button:hover {
  background-color: #364156;
}

@media only screen and (max-width: 800px) {
  .float-label-3 input,
  .float-label-1 input,
  .float-label-2 input,
  .submit-button {
    width: 80vw;
  }
  .contact {
    background-color: #11151c;
  }
}

@media only screen and (max-width: 400px) {
  .float-label-3 input,
  .float-label-1 input,
  .float-label-2 input,
  .submit-button,
  .float-label-1 label,
  .float-label-2 label,
  .float-label-3 label {
    width: 75vw;
  }
  .email-info {
    font-size: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .form-container {
    height: 600vh;
  }
  .email-info {
    font-size: 18px;
  }
  .email {
    overflow: hidden;
  }
}
