.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
  align-items: center;
  width: 100vw;
  background: linear-gradient(#212d40, #11151c);
  /* background-color: #11151c; */
  z-index: -3;
}

.hello {
  font-size: 60px;
  text-align: center;
}

.social-media {
  display: flex;
}
.social-media > img {
  background-size: cover;
  vertical-align: middle;
  object-fit: fill;
  width: 100%;
}

.my-pic {
  height: 30vh;
}

/* .icon > img {
  background-size: cover;
  vertical-align: middle;
  object-fit: fill;
  width: 100%;
} */
@media only screen and (max-width: 1075px) {
  .construction {
    font-size: 75px;
  }
}

@media only screen and (max-width: 890px) {
  .construction {
    padding-top: 30px;
    font-size: 65px;
  }
  .hello {
    font-size: 60px;
  }
}

@media only screen and (max-width: 775px) {
  .construction {
    padding-top: 30px;
    font-size: 60px;
  }
}

@media only screen and (max-width: 725px) {
  .construction {
    padding-top: 30px;
    font-size: 55px;
  }
}

@media only screen and (max-width: 655px) {
  .construction {
    padding-top: 30px;
    font-size: 50px;
  }
}

@media only screen and (max-width: 595px) {
  .construction {
    padding-top: 30px;
    font-size: 45px;
  }
  .hello {
    font-size: 55px;
  }
}

@media only screen and (max-width: 535px) {
  .construction {
    padding-top: 30px;
    font-size: 40px;
  }
  .hello {
    font-size: 50px;
  }
}

@media only screen and (max-width: 475px) {
  .construction {
    padding-top: 30px;
    font-size: 35px;
  }
  .hello {
    font-size: 45px;
  }
}

@media only screen and (max-width: 440px) {
  .construction {
    padding-top: 30px;
    font-size: 30px;
  }
  .hello {
    font-size: 40px;
  }
}

@media only screen and (max-width: 375px) {
  .construction {
    padding-top: 25px;
    font-size: 30px;
  }
  .hello {
    font-size: 35px;
  }
}
