.navbar {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  clear: both;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #212d40;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  z-index: 3;
}
.left-nav {
  padding-left: 3%;
}
a {
  text-decoration: none;
  color: #f72585;
}
a:hover {
  color: white;
}

h1 {
  font-size: 30px;
}
.right-nav {
  display: flex;
  justify-content: space-between;
  width: 73vw;
  padding-right: 40px;
}

.image-logo {
  margin-top: 10vh;
}

.resume {
  font-family: "Bebas Neue", cursive;
  background-color: #212d40;
  border: none;
  outline: none;
  border: 2px rgba(255, 255, 255, 0.653) solid;
  padding: 5px 10px 5px 10px;
  font-size: 24px;
  border-radius: 5px;
}
@media only screen and (max-width: 1300px) {
  .image-logo {
    margin-top: 5vh;
  }
}

@media only screen and (max-width: 1150px) {
  .right-nav {
    justify-content: space-around;
  }
  h1 {
    font-size: 24px;
  }
  .resume {
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 1000px) {
  .right-nav {
    display: flex;
    justify-content: space-between;
    width: 73vw;
    padding-right: 40px;
  }
  h1 {
    font-size: 24px;
  }
  .resume {
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    border-radius: 5px;
  }
  .image-logo {
    margin-top: 5vh;
  }
}

@media only screen and (max-width: 950px) {
  .right-nav {
    display: flex;
    flex-flow: column nowrap;
    background-color: #212d40;
    position: fixed;
    justify-content: start;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40vw;
    padding: 40px;
    transition: transform 0.3s ease-in-out;
    z-index: 10;
  }

  #open {
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  #notopen {
    transform: translateX(0);
  }
  .image-logo {
    margin-top: 5vh;
  }
}

@media only screen and (max-width: 800px) {
  .image-logo {
    margin-top: 5vh;
  }
}
